.chat
  width 100%
  height 100%
  padding-left 200px
  box-sizing border-box

.chat-channels
  width 200px
  height 100%
  position absolute
  top 0
  left 0
  background #171D1F
  padding-bottom 50px
  box-sizing border-box

.channel-list
  width 100%
  height 100%
  overflow auto

.channel-controls
  width 100%
  height 50px
  position absolute
  bottom 0
  left 0
  border-top 1px solid #30393B

  .btn
    width 100%
    padding 0
    line-height 50px
    &:hover
      background transparent

.btn.btn-add-channel
  background transparent
  color #90989c
  &:hover
    color #fff

chatInputHeight = 50px

.chat-window
  width 100%
  height 100%
  position relative
  box-sizing border-box
  &.input-visible
    padding-bottom chatInputHeight
    .chat-input
      display block

.chat-input
  width 100%
  height chatInputHeight
  display none
  background #E4E4E4
  position absolute
  bottom 0
  left 0
  box-sizing border-box
  padding 5px 5px
  form
    display flex

  label
    white-space nowrap
    line-height chatInputHeight - 12px
    height chatInputHeight - 12px

    padding 0 1em
    background #ccc
    border 1px solid rgba(0, 0, 0, 0.1)
    color rgba(0, 0, 0, 0.5)
  .input
    border 0
    height chatInputHeight - 10px
    display inline-block
    flex 1

.chat-messages
  width 100%
  height 100%
  overflow auto

.chat-message
  border-bottom 1px solid #E4E4E4
  padding 1em
  position relative
  padding-right 180px

.chat-message-from
  display block
  margin-bottom 0.3em

.chat-message-timestamp
  position absolute
  top 1em
  right 1em
  color #777
  font-size 12px

.channel
  padding 1em
  font-weight 200
  font-size 14px
  cursor pointer
  color #90989c
  overflow auto
  span
    float left
  &.selected
    background #3A3F40
    color #fff
  &:hover
    color #fff
    .channel-close
      display inline

.channel-close
  float right
  display none
