.chat
  .chat-channels

    .channel(ng-click='filterMessagesBy()', ng-class='{ selected: !filter }').
      All messages

    .channel(ng-click='filterMessagesBy(channel)', ng-repeat='channel in channels', ng-class='{ selected: filter === channel }').
      {{ channel.name }}

  .chat-window(ng-class='{ "input-visible": filter }')
    .chat-messages(chat-window, chat-window-messages='visibleMessages')
      .chat-message(ng-repeat='message in visibleMessages')
        strong.chat-message-from {{ message.from }}
        span.chat-message-body {{ message.message }}
        .chat-message-timestamp(am-time-ago='message.timestamp')

    .chat-input
      input.input(type='text', ng-model='message', ng-keypress='keypressed($event)')
