doctype html
html
  head
    title ircbot web-ui
    link(rel='stylesheet', href='css/style.css')
  body(ng-app='app')
    .view(ng-view)

    #login.modal(ng-controller='MainController', ng-class='{ visible: visible }')
      .dialog-wrapper
        .dialog.dialog-login
          .dialog-header
            h1 Login

          .dialog-content
            .dialog-content-wrapper
              .dialog-content-container
                form(ng-submit='submit()')
                  .input-group
                    label Username:
                    input.input(type='text', ng-model='username')

                  .input-group
                    label Password:
                    input.input(type='password', ng-model='password')

                  button.btn(type='submit') Submit

    script(src='js/bundle.js')
